<?xml version="1.0" encoding="utf-8"?>

  <configuration>
    <configSections>
      <section name="rabbitOption" type="Able.Store.Infrastructure.Queue.Rabbit.SourceConfig.RabbitOptionConfig,Able.Store.Infrastructure" />
    </configSections>
    <connectionStrings>
      <!--<add name="store" connectionString="server=127.0.0.1;user id=root;password=MYsql123!;persistsecurityinfo=True;port=4040;database=canteen;SSL Mode=None" providerName="MySql.Data.MySqlClient" />
     <add name="baseProvider" connectionString="server=127.0.0.1;user id=root;password=MYsql123!;persistsecurityinfo=True;port=4040;database=canteen;SSL Mode=None" providerName="MySql.Data.MySqlClient" />-->



      <add name="store" connectionString="server=192.168.229.131;user id=root;password=MYsql123!;persistsecurityinfo=True;port=3306;database=canteen;" providerName="MySql.Data.MySqlClient" />
      <add name="baseProvider" connectionString="server=192.168.229.131;user id=root;password=MYsql123!;persistsecurityinfo=True;port=3306;database=canteen;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>

    <rabbitOption>
      <options>
        <RabbitOptionElement tagName="Rabbit131" host="192.168.229.131" port="5672" passWord="password" account="username" virtualHost="" />
      </options>
    </rabbitOption>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>